{% if site.disqus %}
    <section class="post-footer-item comment">
      <div id="disqus_thread"></div>
    </section>

    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        /*写入自己的disqus信息*/
        s.src = '{{ site.disqus_url }}';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();

    </script>

{% endif %}

{% if site.livere %}
    <section class="post-footer-item comment">
      <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
    </section>

    <!-- 来必力City版安装代码 -->
    <script type="text/javascript">
       (function(d, s) {
           var j, e = d.getElementsByTagName(s)[0];

           if (typeof LivereTower === 'function') { return; }

           j = d.createElement(s);
           j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
           j.async = true;

           e.parentNode.insertBefore(j, e);
       })(document, 'script');
    </script>
    <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
    <!-- City版安装代码已完成 -->

{% endif %}

{% if site.Gitment %}
<section class="post-footer-item comment">
  <div id="container"></div>
</section>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '{{ page.id }}', // 可选。默认为 location.href
  owner: '{{ site.Gitment_owner }}',
  repo: '{{ site.Gitment_repo }}',
  oauth: {
    client_id: '{{ site.client_id }}',
    client_secret: '{{ site.client_secret }}',
  },
})
gitment.render('container')
</script>
{% endif %}

{% if site.gitalk %}
<section class="post-footer-item comment">
  <div id="container"></div>
</section>
<!--Gitalk评论start  -->

<!-- 引入Gitalk评论插件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<!-- 引入一个生产md5的js，用于对id值进行处理，防止其过长 -->
<!-- Thank DF:https://github.com/NSDingFan/NSDingFan.github.io/issues/3#issuecomment-407496538 -->
<script src="https://Qclover.github.io/js/md5.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: 'd069388bb64b4fa55132',
        clientSecret: '5cba3f374cd4b239757adc1f3c01836f3870373a',
        repo: 'Qclover.github.io',
        owner: 'Qclover',
        admin: ['Qclover'],
        distractionFreeMode: true,
    id: md5(location.pathname),
    });
    gitalk.render('gitalk-container');
</script>

<!-- Gitalk end -->
{% endif %}

{% if site.duoshuo_shortname %}
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ site.url }}{{ page.url }}" data-title="{{page.title}}" data-url="{{ site.url }}{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {
        short_name: "{{site.duoshuo_shortname}}"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}