<!-- 博文的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
{% include androidColor.html %}
 <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/toc.css">
</head>
<!--<body>-->
<body id="small">
<!-- 顶部锚点 -->
<a id="htmlup" name="htmlup"></a>
<!-- 引入博文顶部选项 -->
{% include post-header.html %}
<!-- 引入移动下拉选项 -->
{% include boot.html %}
<!-- 引入博文顶部样式 -->
{% include post-title.html %}
<div class="markdown-body fadeInUp animated">

  {% if page.subtitle %}
    {% if page.color.size==0 or page.color==nil %}
      <div class="postpage-subtitle" style="border-left: 8px solid #9A85FF; border-right: 8px solid #9A85FF;">
        {{ page.subtitle }}
      </div>
    {% else %}
      <div class="postpage-subtitle" style="border-left: 8px solid {{ page.color }}; border-right: 8px solid {{ page.color }}">
        {{ page.subtitle }}
      </div>
    {% endif %}
  {% endif %}

  <!-- 文章内容 -->
  {{ toc_generate }}
  {{ page.content }}
  <!-- 引入share模块 -->
  {% include share.html %}
</div>

<!-- 底部锚点 -->
<a id="htmldown" name="htmldown"></a>
<!-- 引入评论模块 -->
<!--Gitalk评论start  -->

<!-- 引入Gitalk评论插件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<!-- 引入一个生产md5的js，用于对id值进行处理，防止其过长 -->
<!-- Thank DF:https://github.com/NSDingFan/NSDingFan.github.io/issues/3#issuecomment-407496538 -->
<script src="https://Qclover.github.io/js/md5.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: 'd069388bb64b4fa55132',
        clientSecret: '5cba3f374cd4b239757adc1f3c01836f3870373a',
        repo: 'Qclover.github.io',
        owner: 'Qclover',
        admin: ['Qclover'],
        distractionFreeMode: true,
    id: md5(location.pathname),
    });
    gitalk.render('gitalk-container');
</script>

<!-- Gitalk end -->
<!--{% include comment.html %}-->
<!-- 引入goto模块 -->
{% include goto.html %}
<!-- 引入页面底部模块 -->
{% include footer.html %}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>
<script src="/assets/js/main.js"></script>
</body>
</html>
